{% extends 'store/base.html' %}
{% block content %}
<div class="container mt-5">
  <h2>Login de Administrador</h2>
  <form method="post">
    {% csrf_token %}
    <div class="mb-3">
      <label>Usuario</label>
      <input type="text" name="username" class="form-control" required>
    </div>
    <div class="mb-3">
      <label>Contraseña</label>
      <input type="password" name="password" class="form-control" required>
    </div>
    <button type="submit" class="btn btn-danger">Entrar al panel</button>
  </form>
</div>
{% endblock %}
